name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Google Chrome
        run: choco install googlechrome --version=126.0.0.0
        shell: cmd

      - name: Install ChromeDriver
        run: choco install chromedriver --version=126.0.0.0 --force
        shell: cmd

      - name: Add ChromeDriver to PATH
        run: |
          $env:PATH = "${env:ProgramFiles(x86)}\Google\Chrome\Application;$env:PATH"
          $env:PATH = "${env:ChocolateyInstall}\bin;$env:PATH"
        shell: pwsh

      - name: Run tests
        run: |
          pytest test_google.py
        env:
          PATH: ${{ github.workspace }}\drivers;$PATH
